<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Urls
        </title>
    </head>
    <body>
        <div><h1>Wellcome page!</h1><br />Page: {% if data is not None %} {{ data }} {% endif %}</div>
        <div>
        <strong>Urls</strong><br />
        <a href="/">Home</a><br />
        <a href="/articles/2023/">Page a: static parameter</a><br />
        <a href="/articles/2023/">Page b: dinamic parameter (number): 2023</a><br />
        <a href="/articles/2023/10">Page c: dinamic parameters '2023/10'</a><br />
        <a href="/articles/2023/10/name">Page d: dinamic parameters '2023/10/name'</a><br />
        <a href="/books/page-1">Page e: start with 'books' and end with 'page-number'</a><br />
        <a href="/books/2023">Page e: start with 'books' and end with 'year (Optional)'</a><br />
        <a href="/books/2023/10">Page e: start with 'books', as 'year (Optional)' and end with 'month (Optional)'</a><br />
        <a href="/articles/page1">Parameter with default value'</a><br />
        </div>
    </body>
</html>